<%# add navigation links to this file %>
<% if user_signed_in? %>
  <div class="dropdown" style="margin-top:8px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="user_dropdown" data-toggle="dropdown">
      <% if user_signed_in? %>
        <%= current_user.name %>
      <% else %>
        Sign in
      <% end %>
      <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu" role="menu" aria-labelledby="user_dropdown">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% end %>
    </ul>
  </div>
<% else %> 
  <li><%= link_to "Sign in", new_user_session_path %> </li>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
<% end %>
